/* Style global du corps de la page */ 
body { 
    background-color: #007471; 
    font-family: 'Helvetica', sans-serif; 
    margin: 40px; 
    color: #ffffff; 
} 

/* Style des titres principaux */ 
h1 { 
    font-size: 32px; 
    text-align: center; 
    color: #de7471; 
    border-bottom: 2px solid #de7471; 
    padding-bottom: 10px; 
}

/* Style des sous-titres */ 
h2 { 
    font-size: 24px; 
    color: #ffffff; 
    margin-top: 30px; 
}

/* Style des paragraphes */ 
p { 
    font-size: 18px;
    text-align: left; 
    line-height: 1.6; 
} 

/* Style des liens */ 
a { 
    color: #de7471; 
    font-weight: bold; 
    text-decoration: none; 
} 

/* Style au survol du curseur sur les liens */ 
a:hover { 
    text-decoration: underline; 
}